server:
  port: 8083

spring:
  application:
    name: media-service
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://${PG_HOST:localhost}:5432/sidequest_db
    username: ${PG_USER:sidequest}
    password: ${PG_PASSWORD:root}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

